{% extends "base/layout.html" %} {% block extra_js %}
<script src="{{ url_for('static', filename='js/utils.js') }}"></script>
{% endblock %} {% block content %} {% if request.path != "/login" %}
<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('consultas.consult') }}"
      ><img
        src="{{ url_for('static', filename='css/img/JUSTOS-POR-LA-PAZ.png') }}"
        class="logoNav"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-3 menuu">
        <li class="nav-item dropdown">
          <a class="navbar-brand" href="{{ url_for('consultas.consult') }}"
            >Inicio</a
          >
        </li>
      </ul>
      {% if session.get('Super_Admin') == 1 %}
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle fs-5"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Personal
          </a>
          <ul class="dropdown-menu dropdown-menu-end text-center bg-dark">
            <li>
              <a
                class="dropdown-item"
                href="{{ url_for('gestion_trabajadores.NuevoUserPasivo') }}"
                >Registrar Empleado</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="{{url_for('gestion_autorizados.listado_autorizados')}}"
                >Editar Autorizados</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="{{url_for('reportes.nomina_personal')}}"
                >Activar Entrega</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="{{url_for('consultas.cambiar_estatus')}}"
                >Editar Estatus</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="{{ url_for('reportes.reporte') }}"
                >Generar Reportes</a
              >
            </li>

            <hr class="dropdown-divider" />
            <li>
              <a
                class="dropdown-item"
                href="{{url_for('gestion_db.cargar_data')}}"
                >Carga de Data</a
              >
            </li>
          </ul>
        </li>
      </ul>

      <ul class="navbar-nav me-3">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle fs-5"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Usuarios
          </a>
          <ul class="dropdown-menu dropdown-menu-end text-center bg-dark">
            <li>
              <a
                class="dropdown-item"
                href="{{ url_for('gestion_usuarios.usuarios') }}"
                >Editar</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="{{url_for('auth.RegistUser')}}"
                >Registrar</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="{{ url_for('auth.tipo_user') }}"
                >Estatus</a
              >
            </li>
            <hr class="dropdown-divider" />
            <li>
              <a
                class="dropdown-item"
                href="{{url_for('gestion_usuarios.reporte_usuarios')}}"
                >Historial de Acciones</a
              >
            </li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle fs-5"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Listados
          </a>
          <ul class="dropdown-menu dropdown-menu-end text-center bg-dark">
            <li>
              <a
                class="dropdown-item"
                href="{{ url_for('gestion_trabajadores.reporte_personal') }}"
              >
                Activos / Pasivos</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="{{ url_for('gestion_trabajadores.listado_de_apoyo') }}"
              >
                Apoyo</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="{{ url_for('gestion_trabajadores.listado_no_registrado') }}"
              >
                Sin Beneficios</a
              >
            </li>
          </ul>
        </li>
      </ul>
      {% endif %}

      <ul class="navbar-nav ms-auto me-3">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle fs-5"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {% if session.get('loggedin') %} {{ session.get('username') }} {%
            else %} Usuario {% endif %}
          </a>
          <ul class="dropdown-menu dropdown-menu-end text-center bg-dark">
            <li>
              <a
                class="dropdown-item"
                href="{{ url_for('gestion_usuarios.editar_usuario', cedula=session.get('cedula') ) }}"
                >Configuracion de usuario</a
              >
            </li>
            <hr class="dropdown-divider" />
            <li>
              <a class="dropdown-item" href="{{ url_for('auth.logout') }}"
                >Cerrar Sesión</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endif %} {% block contentt %} {% endblock %} {% endblock %}
