# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
backend/venv/
*/venv/

# Django migrations
**/migrations/
**/migrations/*.py
**/migrations/*.pyc

# Database files
*.sqlite3
db.sqlite3

# Environment variables
.env
*.env

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db
